#footer
    ul
        .addresses
            h1 Pay us a visit
            li.london
                h2 London
                address
                    | 17 Grosvenor Gardens<br>Victoria<br>London<br>SW1W 0BD 
            li
                h2 Birmingham
                address
                    | 28D Ludgate Hill<br>Jewellery Quarter<br>Birmingham<br>B3 1DX
        .contact
            h1 Get in touch
            li.elsewhere
                h2 Elsewhere
                .direct
                    a(href="tel:+441212330791") +44 (0)121 233 0791
                    a(href="mailto:enquiries@digiotology.com") enquiries@digiotology.com
                .social
                    a(href="http://facebook.com/digiotology"): i.fa.fa-facebook-square
                    a(href="http://twitter.com/digiotology"): i.fa.fa-twitter-square
                    a(href="https://www.linkedin.com/company/10164843"): i.fa.fa-linkedin-square
            li.callback
                h2 We'll call you!
                script(charset="utf-8", type="text/javascript", src="//js.hsforms.net/forms/v2.js")
                script.
                    hbspt.forms.create({ 
                    css: '',
                    portalId: '756011',
                    formId: '32b4c3f0-aeb0-4e3d-a512-e6657597c1f8'
                    });

    #links: p
        | &copy; Digiotology Ltd