doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description", content="Digiotology is the innovation and transformation network where ideas come alive.")
    link(rel="shortcut icon", href="/img/general/favicon.png")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300', rel='stylesheet')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

    title Digiotology
    != css()

  body

    include partials/navbar.jade

    block content
                    
    include partials/footer.jade

    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/js/binView.js")
    script(src="/js/bmagnific.js")
    script(src="/js/bmatchHeight.js")
    script(src="/js/bscrollToFixed.js")
    script(src="/js/zmain.js")
    
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68485109-3', 'auto');
        ga('send', 'pageview');

        (function(d,s,i,r) {
          if (d.getElementById(i)){return;}
          var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
          n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/756011.js';
          e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);