doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description", content="Digiotology is the innovation and transformation network where ideas come alive.")
    link(rel="shortcut icon", href="img/general/favicon.png")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300', rel='stylesheet')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

    title Digiotology
    != css()

  body
    block content

    #footer
        ul
            .addresses
                h1 Pay us a visit
                li.london
                    h2 London
                    address
                        | 17 Grosvenor Gardens<br>Victoria<br>London<br>SW1W 0BD 
                li
                    h2 Birmingham
                    address
                        | 28D Ludgate Hill<br>Jewellery Quarter<br>Birmingham<br>B3 1DX
            .contact
                h1 Get in touch
                li.elsewhere
                    h2 Elsewhere
                    .direct
                        a(href="tel:+441212330791") +44 (0)121 233 0791
                        a(href="mailto:enquiries@digiotology.com") enquiries@digiotology.com
                    .social
                        a(href="http://facebook.com/digiotology"): i.fa.fa-facebook-square
                        a(href="http://twitter.com/digiotology"): i.fa.fa-twitter-square
                        a(href="https://www.linkedin.com/company/10164843"): i.fa.fa-linkedin-square
                li
                    h2 We'll call you!
                    form(action='//flipmail.co/api/JZknPyAMfrRA8dWmfKWq', method='post')
                        input(type='text', name='name', placeholder='Full Name')
                        input(type='text', name='org', placeholder='Organisation')
                        input(type='text', name='topic', placeholder='What about?')
                        input(type='number', name='phone', placeholder='Phone Number')
                        input(type="hidden", name="_after", value="http://digiotology.com/thanks")
                        button(type='submit') Go


                    
        #links: p
            | &copy; Digiotology Ltd

    != js()