doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description", content="Digiotology is the innovation and transformation network where ideas come alive.")
    link(rel="shortcut icon", href="img/general/favicon.png")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:300', rel='stylesheet')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

    title Digiotology
    != css()

  body
    block content

    != js()