.our-values {
	@extend %list;
	ul {
		counter-reset: value-item;
		li {
			counter-increment: value-item;
			.counter:before {
				@include span-columns(1.5 of 12);
				content: counter(value-item) ".";
				@extend %font-head;
				font-size: 2.5em;
				margin-top: -0.25em;
				color: $secondary;
			}
		}
	}
}

@media screen and (min-width: $tablet) {
	.our-values {
		ul li {
			.counter:before {
				display: none;
			}
			.inner {
				@include span-columns(12 of 12);
				@include shift(0);
			}
		}
	}
}

@media screen and (min-width: $desktop) {
	.our-values {
		@include background-image("/static/images/about/values.png");
		margin-bottom: 5em;
		margin-top: 2.5em;
		padding: 2.5em 0;
		.value-inner {
			@include outer-container;
			padding: 0 2.5em;
			ul li {
				@include span-columns(7 of 12);
				.inner {
					h3 {
						font-size: 1.25em;
						color: white;
						&:before {
							content: counter(value-item) ".";
							margin-right: 0.5em;
						}
					}
					p {
						color: white;
						margin-top: 0.25em;
					}
				}
			}
		}
		h2 {
			@include outer-container;
			color: white;
			margin-top: 2em;
			padding-left: 0;
		}
	}
}

@media screen and (max-width: $desktop) {
	.our-values {
		@include outer-container;
		padding: 0 2.5em;
	}
}

@media screen and (max-width: $tablet) {
	.our-values {
		padding: 0 1.5em;
	}
}