@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

@import "base";
@import "magnific";

// Not for now

	// @import "partials/button";
	// @import "partials/text-box";
	// @import "partials/header";
	// @import "partials/footer";
	// @import "partials/nav";
	// @import "partials/hero";
	// @import "partials/about-block";
	@import "partials/quote";
	// @import "partials/lists";

	// @import "pages/search-results/search-results";

	// @import "pages/home/services-large";
	// @import "pages/home/services-small";

	// @import "pages/about/about-points";
	// @import "pages/about/our-values";
	// @import "pages/about/team";

	// @import "pages/services/services-list";
	// @import "pages/services/services-single";
	// @import "pages/services/challenge";
	// @import "pages/services/research-stats";
	// @import "pages/services/why";
	// @import "pages/services/contact-block";

	// @import "pages/content/base";

	// @import "partials/responsive";

// Hero

	* {
		line-height: 2;
	}

	#hero {
		padding: $padding * 2 $padding;
		position: relative;
		background: {
			image: url(../img/pages/home/hero.jpg);
			size: cover;
			position: center center;
		}
		a.nn img {
			position: absolute;
			top: 1em;
			left: 1em;
			height: 2em;
		}
		.logo {
			display: block;
			margin: 0 auto;
		}
		h1 {
			margin-top: 1em;
			text-align: center;
			font-size: 2.25em;
		}
	}

	#home-about {
		@include outer-container;
		padding: $padding;
		text-align: center;
	}

	#navbar {
		background: $accent;
		.wrapper {
			padding: $padding / 2 $padding;
		}
		a.logo img {
			height: 2rem;
			float: left;
			display: block;
		}
		ul {
			margin: 0;
			font-size: 1em;
			float: right;
			margin-top: 0.25em;
			li {
				display: inline;
				margin-left: 0.5em;
			}
			a {
				color: white;
				text-decoration: none;
			}
		}
		a.article {
			background: white;
			color: $secondary;
			width: 100%;
			display: block;
			padding: 1em;
			text-align: center;
			text-decoration: none;
			font-size: 0.8em;
			border: 1px solid $grey-light;
		}
	}

	#why {
		@include outer-container;
		padding: $padding 0;
		h1 {
			text-align: center;
		}
		ul {
			@include span-columns(12);
			background: $grey-light;
			margin-top: 2em;
			margin-bottom: 2em;
			padding: $padding;
			text-align: center;
			nav {
				@include span-columns(12);
				li {
					@include span-columns(4 of 12);
					img {

					}
					h2 {
						margin-bottom: 0;
					}
					&.active {
						svg {
							path,
							g,
							line,
							circle,
							polyline { 
								stroke: $secondary;
							}
						}
						h2 {
							color: $secondary !important;
						}
					}
				}
			}
			.content {
				li {
					list-style-type: none;
					p {
						display: none;
					}
					&.active {
						p {
							@include span-columns(12);
							display: block;
							margin-top: 2.5em;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}

	#process {
		ul {
			@include outer-container;
			padding: 0 $padding;
			li {
				padding: $padding * 1.5 0;
				display: flex;
				border-bottom: 1px solid $accent;
				.content {
					width: 80%;
					h2 {
						margin: 0;
						@include transition;
					}
					h3 {
						margin: 0.5em 0;
						font-family: "Roboto", sans-serif
					}
					p {
						margin: 0;
					}
				}
				.icon {
					width: 20%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					img {
						height: 125px;
					}
					svg {
						height: 125px;
						path,
						g,
						line,
						circle,
						polyline,
						polygon { 
							stroke: $grey-dark;
							@include transition;
						}
					}
				}
				&:nth-child(even) {
					.content {
						order: 2;
					}
					.icon {
						order: 1;
						justify-content: flex-start;
					}
				}
				&:last-child {
					border: 0;
				}
				&.active {
					.content h2 {
						color: $accent;
						@include transition;
					}
					.icon {
						svg {
							path,
							g,
							line,
							circle,
							polyline,
							polygon { 
								stroke: $secondary;
								@include transition;
							}
						}
					}
				}
			}
		}
	}

	#footer {
		@include outer-container;
		padding-bottom: $padding;
		ul {
			> * {
				li {
					@include span-columns(3 of 6);
				}
			}
			.addresses {
				@include span-columns(5 of 12);
			}
			.contact {
				@include span-columns(7 of 12);
			}
			address,
			.direct a {
				line-height: 2;
			}
			h1 {
				font-size: 1.5em;
				margin-top: 5rem;
			}
			h2 {
				font-size: 1em;
				margin-top: 0;
			}
			.direct a {
				display: block;
				font-size: 1em;
				color: $grey-dark;
				text-decoration: none;
			}
			.social a {
				margin-top: 0.75rem;
				display: inline-block;
				margin-right: 1rem;
				font-size: 1.5em;
			}
			form {
				input {
					border: 0;
					outline: 0;
					border-bottom:2px solid $grey-light;
					margin-bottom: 1em;
					padding-bottom:0.25em;
					display: block;
					width: 100%;
					&:focus {
						border-color: $accent;
					}
				}
				button {
					@extend input;
					background: $accent;
					color: white;
					font-family: "Montserrat", sans-serif;
					padding: 0.5em;
					border: none;
				}
			}
		}
		#links p {
			@include span-columns(12);
			text-align: center;
			margin-top: $padding * 1.5;
			font-size: 0.8em;
		}
	}

	article {
		@include outer-container;
		padding: 5em;
		line-height: 2;
		h1 {
			margin-bottom: 2.5em;
		}
	}

	#back a {
		@include outer-container;
		text-align: center;
		font-family: "Montserrat", sans-serif;
		font-size: 2em;
		margin-top: 5rem;
	}

	.testimonial span {
		color: $accent;
		margin-left: 1em;
		font-style: normal;
		font-family: "Montserrat", sans-serif;
		cursor: pointer;
	}

	@media screen and (max-width: 680px) {
		#hero {
			padding: 2.5rem;
			a.nn {
				display: none;
			}
			.logo {
				height: 5rem;
			}
			h1 {
				font-size: 1.75em;
			}
		}

		#navbar {
			a.logo img {
				margin: 0 auto;
				display: block;
				float: none;
			}
			ul {
				display: none;
			}
		}
		#why {
			h1 {
				font-size: 1.75em;
			}
			ul nav {
				li {
					@include span-columns(12);
					margin-bottom: 2.5em;
					h2 {
						font-size: 1.25em;
					}
					&:last-child {
						margin-bottom: 0;
					}
					&.active {
						svg {
							path,
							g,
							line,
							circle,
							polyline { 
								stroke: $grey-dark;
							}
						}
						h2 {
							color: $grey-dark !important;
						}
					}
				}
			}
			.content {
				display: none;
			}
		}

		#process {
			ul {
				li {
					flex-direction: column;
					.icon {
						order: 1;
						width: 100%;
						justify-content: center !important;
					}
					.content {
						order: 2;
						width: 100%;
						text-align: center;
						h2 {
							margin-top: 1em;
						}
						h3 {
							margin: 2em 0;
						}
					}
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
		
		#footer {
			padding: 2.5em;
			* {
				text-align: center;
			}
			ul {
				padding-left: 0;
				h1 {
					margin-top: 2.5em;
				}
			}
			ul > * li {
				@include span-columns(6 of 6);

			}
			ul .addresses,
			ul .contact {
				@include span-columns(12);
			}
			.london,
			.elsewhere {
				margin-bottom: 1.5em;
			}
			.social a {
				margin-left: .5rem;
				margin-right: .5rem !important;
			}
			form input[type="text"] {
				text-align: left;
				padding-bottom: .5em;
			}
		}

		article {
			padding: 2.5em;
			h1 {
				margin-top: 0;
				margin-bottom: 1em;
				font-size: 1.5em;
			}
		}

	}









