.research-stats {
	background: $secondary;
	color: white;
	padding: 0 1.5em;
	ul {
		padding-left: 0;
		margin: 0;
		li {
			list-style-type: none;
			padding-bottom: 1.5em;
			h3 {
				margin: 0;
				font-size: 2.75em;
			}
			p {
				font-size: 1em;
				margin-top: 0;
				margin-bottom: 0;
				text-align: left;
				display: block;
			}
			&:first-child {
				padding-top: 1.5em;
			}
		}
	}
	small {
		display: block;
		padding-bottom: 1.5rem;
	}
}

@media screen and (min-width: $tablet) {
	.research-stats {
		@include span-columns(12);
		padding: 1em 2.5em;
		ul {
			@include outer-container;
			li {
				@include span-columns(4 of 12);
				padding-top: 1.5em;
				padding-bottom: 0.5em;
				text-align: center;
				p {
					text-align: center;
				}
			}
		}
		small {
			@include span-columns(12);
			text-align: center;
			padding-bottom: 1em;
			padding-top: 1em;
		}
	}
}