---

title: Connected Life & Sweeties
date: 10 Dec 2015

---

extends ../layout-blog

block post-content

	:marked
		Two weeks ago today, we launched the [Connected Life challenge](http://bluemixconnectedlife.com) along with our friends at IBM. The aim of the challenge is to give developers the chance and reason to play around with some new technology, build something awesome, and potentially even win some cool prizes. 

		For those of you who haven't heard of IBM Bluemix before, it's a platform which allows developers to create, deploy, and manage their applications in the cloud. Rather than just being a hosting platform though, you can use any number of services from the IBM Catalog (some are from third parties and the community), which are really easy to include. 

		You can get an extended trial of IBM Bluemix just be registering for the platform, so there's no reason for not at least giving it a go! We're an email away if you'd like some support, and we can't wait to see what you build!

		So far, we've had some great feedback, and are loving that you love Connected Life, and so we're upping our game. So, here's the deal - tweet using #BMConnectedLife and a [link](http://bluemixconnectedlife.com) to the challenge. The person with the most interactions (favourites and retweets combined) by the end of Friday 18th December will receive 1.8KG of Jelly Beans. Yeah, we're serious. 

		[Here's a tweet we cooked up earlier if you don't have time to write yourself.](https://twitter.com/intent/tweet?text=Check%20out%20%23BMConnectedLife%20-%20play%20with%20new%20tech,%20build%20awesome%20projects%20and%20win%20cool%20prizes!%20http://bluemixconnectedlife.com)

		It's a magical time of the year, and we hope you'll continue to enjoy what we have to offer! 