---

title: Hack the Holidays
date: 21 Dec 2015

---

extends ../layout-blog

block post-content

	:marked
		This weekend we sent our Community Leader, [Kevin](http://twitter.com/_phzn), down to Peterborough for [Hack the Holidays](http://hacktheholidays.io) - the first student hackathon for the city. 50 hackers turned up, from a diverse range of backgrounds. For some, this was their first hackathon, especially those who were younger and often can't attend hackathons due to age restrictions. It was also great to see so many hackathon veterans there - whether that's as participants or organisers. Bring the amazing cohort together in a great space and engaging sponsors, and you have a top-notch event. 

		During the welcoming ceremony, it was clear that this was going to be an event where collaborative spirit was high - with three different companies offering up prizes for hacker & community spirit - encouraging participants to push themselves to try new technologies, and support others in doing the same. We also announced a little raffle which got participants to register for the [Bluemix Connected Life](http://bluemixconnectedlife.com) competition to potentially win the 1.8KG tub of jelly beans. 

		The ceremony ended, lunch was served and the christmas tunes cranked up. Over the next 24 hours, lots of fun was had - on top of building projects, the organisers, partners and sponsors ran various minigames (Code in the Dark, Slideshare Karaoke and Werewolf).

		13 projects were built, with a good level of festivity. Braintree/PayPal handed out their prize for Hacker Spirit to induviduals who tried something new and learnt loads, which is in the very spirit of student hackathons. Rocket Apps gave out LEGO sets, also for Hacker Spirit, to teams who really embodied what the hackathon was all about - learning, building and sharing. Rebel Uncut gave out christmas-themed Google Cardboard sets to two people for their community spirit, and Zazzle gave out a Raspberry Pi as part of a raffle. Finally, Major League Hacking gave away two prizes - one for best use of Amazon AWS, and the other for best domain name. 

		Projects at Hack the Holidays were incredibly widespread in terms of technology used, from hacks which used the Occulus Rift and Leap Motion, to others which used socket.io and a strip of LEDs to create a christmas tree which shows poll results, to an IoT plant pot using Arduino and Azure mobile services. 

		## Winning Projects

		### Deranged Penguins

		Deranged Pengiuns is a 3D shooter game made using WebGL. The game has the same visual style as retro games like Doom and Wolfenstein, with browser hardware acceleration. Holding two phones, one in each hand, players can move the character - with one phone controlling rotation of the character, and the other controlling the movement. This was all synced up using socket.io. 

		### Festive O Meter

		<img src="/img/blog/hth-2.png" class="floated" style="float:left; height: 6rem; margin: 0 1rem 1rem 0;">

		Based on any Twitter handle, the Festive O Meter analyses a user's tweets, and brings back a percentage of their christmas spirit. A map displaying festive hotspots is also showed on the webpage. It was built using Angular.js, and the team's own sentiment analysis engine. 

		### Sherry the Tree

		Sherry the Tree is a real physical (albeit plastic) christmas tree, wrapped in a lovely strip of LEDs. Using a Node.js server, the team built an Express app which allows users to answer a poll question, where each answer has a colour. Using Socket.io, users then recieve real-time data as to the results. The server talks to an additional MQTT server, which then talks to a tiny microcontroller plugged into the lights around the tree. The lights change colour to represent the results, in real-time. 

		## Jelly Beans

		Kevin practically carried his weight in sweets this weekend, and somehow the 50 hackers managed to devour them. The winner of our raffle was Peran, who managed to lighten Kevin's bag considerably - look how happy he looks! 

		![](/img/blog/hth-3.jpg)

		## Have a Merry Christmas!

		A massive round of applause to the team behind Hack the Holidays for such a fun and festive event! If any developers want to take a look at the [Bluemix Connected Life](http://bluemixconnectedlife.com) competition over the break to build your skills in new technology and create something awesome, then we'd highly encourage you to do so (and feel free to be in touch if you have questions). 

		Regardless of what you're doing, we hope you have a fantastic few weeks. We have some really exciting announcements in the new year, and we can't wait to share them with you. 

		Much love,

		The Digiotology Team



