extends ../layout

block content

	#blog-posts
		h1 Blog Posts
		ul
			li: a(href="/blog/january-meetups")
				h2 January Meetups 
				h3 04 Jan 2016
			li: a(href="/blog/hack-the-holidays")
				h2 Hack the Holidays 
				h3 21 Dec 2015
			li: a(href="/blog/bluemix-sweeties")
				h2 Connected Life & Sweeties 
				h3 10 Dec 2015
			li: a(href="/blog/introduction")
				h2 Nimbus Ninety & the Introduction of Digiotology
				h3 30 Oct 2015