---

title: January Meetups
date: 04 Jan 2016

---

extends ../layout-blog

block post-content

	:marked
		We ran our first meetup at the end of December, and it was hugely successful. In January, we're going one step further, and running multiple around the country. They'll be a mix of casual meetups and those which have a theme of building awesome projects (we're calling these "Hack for Good" evenings/days).

		* [Fri 8 Jan - Meetup. (Birmingham)](https://www.facebook.com/events/764429617001954/)
		* [Wed 13 Jan - "Hack for Good" Evening. Public Sector Focus. (London)](https://www.facebook.com/events/195101367504173/)
		* [Sat 16 Jan - "Hack for Good" Day. (Birmingham)](https://www.facebook.com/events/947431578678879/)
		* [Mon 18 Jan - Meetup. (Leeds)](https://www.facebook.com/events/775152109280247/)
		* [Tue 26 Jan - Meetup. (London)](https://www.facebook.com/events/1040674089325540/)

		These are just our confirmed meetups, there are a couple more that we're planning, but haven't finalised yet. Once they're ready, we'll add them to the page and [tweet](http://twitter.com/digiotology) about them.

		One of our current projects is [Bluemix Connected Life](https://bluemixconnectedlife.com), and so we're going to run a couple of 'Introduction to Bluemix' workshops throughout the month a these events for those wh oare interested. 

		If you want to attend the meetups, take a look at the Facebook events (links above) and mark yourself as going and, as always, feel free to get in touch with [Kevin](kevin.lewis@digiotology.com) as a developer/designer/technical type with any questions! 