footer {
	@include span-columns(12);
	.main {
		background: white;
		@include outer-container;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		h3 {
			text-align: left;
			margin-top: 0;
			color: $grey-dark;
		}
		ul.immediate {
			padding-left: 0;
			text-align: left;
			margin-bottom: 1.5em;
			li {
				list-style-type: none;
				a {
					color: $accent;
					display: block;
					text-decoration: none;
					margin-bottom: 0.5em;
				}
				&:last-child a {
					margin-bottom: 0;
				}
			}
		}
		form {
			input {
				display: block;
				width: 100%;
				&[type="text"] {
					@extend %text-box;
				}
				&[type="submit"] {
					@extend %button;
					display: block;
					margin-top: 0.75em;
				}
			}
		}
		ul.social {
			padding-left: 0;
			margin-top: 1.5em;
			margin-bottom: 1.5em;
			text-align: left;
			li {
				list-style-type: none;
				display: inline;
				margin: 0.5em;
				a {
					color: $accent;
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
		small {
			text-align: left;
			@include span-columns(12);
			a {
				color: $accent;
				margin-left: 1em;
			}
		}
	}
}

@media screen and (min-width: $tablet) {
	footer .main {
		padding: 2.5em;
		h3 {
			text-align: left;
		}
		ul.immediate {
			@include span-columns(6 of 12);
			text-align: left;
			margin-top: 0;
		}
		form {
			@include span-columns(6 of 12);
			@include omega;
		}
		ul.social {
			    overflow: auto;
		    width: 100%;
		    padding-top: 3em;
		}
	}
}

@media screen and (min-width: $desktop) {
	footer .main {
		.interaction {
			@include span-columns(4 of 12);
			.immediate,
			form {
				@include span-columns(12);
				text-align: left;
			}
			form {
				margin-top: 1em;
			}
			ul.social {
				display: none;
			}
		}
		.quick-links {
			@include span-columns(7.5 of 12);
			@include shift(0.5 of 12);
			@include omega;
			ul {
				margin-top: 0;
				@include span-columns(2.5 of 7.5);
				@include omega(3n);
				h4 {
					color: $grey-dark;
					margin-top: 0;
				}
				li {
					list-style-type: none;
					margin-bottom: 0.5em;
					a {
						text-decoration: none;
						color: $accent;
					}
				}
			}
		}
		small {
			margin-top: 2.5rem;
		}
	}
}