nav {
	@include span-columns(12);
	background: $accent;
	ul {
		white-space: nowrap;
		overflow-x: scroll;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		li {
			display: inline-block;
			padding: 1em 0 1em 1.5em;
			a {
				color: white;
				text-decoration: none;
			}
			&.logo {
				display: none;
			}
		}
		.main {
			margin-right: 1.5em;
		}
		.right {
			display: none;
		}
	}
}

@media screen and (min-width: $tablet) {
	nav ul {
		li {
			padding: 1.5em 0 1.5em 1.5em;
			&:first-child {
				padding-left: 2.5em;
			}
		}
		.right {
			float: right;
			display: inline;
			margin-right: 1em;
			li {
				&.search,
				&.contact {
					display: inline;
					float: right;
					padding: 1.5em 1.5em 1.5em 0;
					a i {
						margin-left: 0.25em;
					}
				}
				&:first-child {
					padding-left: 0;
				}
				&.contact {
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: $desktop) {
	nav {
		background: white;
		ul {
			@include outer-container;
			li {
				a {
					color: $accent;
				}
				&.logo {
					display: block;
					float: left;
					padding: 1em 0.25em 1em 1em;
					line-height: 1;
					img {
						height: 2.5em;
						vertical-align: top;
					}
				}
			}
			.right li.contact {
				display: inline;
			}
		}
	}
}