.testimonial {
	@include span-columns(12);
	background: $grey-light;
	blockquote {
		@include outer-container;
		padding: 2.5em;
		margin-top: 0;
		margin-bottom: 0;
		img {
			height: 2em;
		}
		p:after {
			content: '"';
		}
		cite {
			&:before {
				content: "-";
				margin-right: 0.5em;
			}
		}
	}
}