%text-box {
	display: block;
	width: 100%;
	padding: 0 0.75em 0.75em 0;
	border: none;
	border-bottom: 2px solid $grey-light;
	border-radius: 0;
	&:active,
	&:focus {
		outline: 0;
		border-color: $accent;
	}
}