#blog-posts {
	@include outer-container;
	padding: 2em;
	h1 {
		margin-bottom: 1.5em;
	}
	h2 {
		margin-bottom: 0;
	}
	h3 {
		margin-top: 0;
	}
	ul {
		padding-left: 0;
		list-style-type: none;
		li a {
			text-decoration: none;
		}
	}
}

article {
	h1.title {
		margin-bottom: 0;
	}
	h2.date {
		margin-top: 0;
		margin-bottom: 3rem;
	}
}

article img:not(.floated) {
	width: 100%;
}